<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- attributes--}}
        <article class="attributes" data-group="primary" data-tab="description">
            <label class="attribute-value checkbox">
                <input type="checkbox" name="data.equipped" {{checked item.data.equipped}} />
                {{ localize 'l5r5e.weapons.sheathed' }}
            </label>
            <label class="attribute-value checkbox">
                <input type="checkbox" name="data.readied" {{checked item.data.readied}} />
                {{ localize 'l5r5e.weapons.readied' }}
            </label>
            {{> 'systems/l5r5e/templates/items/item/item-value.html' }}
            <label class="category">
                {{ localize 'l5r5e.weapons.category' }}
                <input type="text" name="data.category" value="{{data.category}}" />
            </label>
            <label class="skillType">
                {{ localize 'l5r5e.skill' }}
                <select class="attribute-dtype" name="data.skill">
                    {{#select data.skill}}
                        {{#each data.skills as |id cat|}}
                            <option value="{{id}}">{{localizeSkillId id}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </label>
            <fieldset class="stats">
                <legend class="text-block-header">{{ localize  'l5r5e.weapons.stats' }}</legend>
                <label>
                    {{ localize 'l5r5e.weapons.range' }}
                    <input class="select-on-focus" type="text" name="data.range" value="{{data.range}}" data-dtype="String" placeholder="0"/>
                </label>
                <label>
                    {{ localize 'l5r5e.weapons.damage' }}
                    <input class="select-on-focus" type="number" name="data.damage" value="{{data.damage}}" data-dtype="Number" min="0" placeholder="0"/>
                </label>
                <label>
                    {{ localize 'l5r5e.weapons.deadliness' }}
                    <input class="select-on-focus" type="number" name="data.deadliness" value="{{data.deadliness}}" data-dtype="Number" min="0" placeholder="0"/>
                </label>
            </fieldset>
            <fieldset class="stats">
                <legend class="text-block-header">{{ localize 'l5r5e.weapons.grips' }}</legend>
                <input class="grip" type="text" name="data.grip_1" value="{{data.grip_1}}" />
                <input class="grip" type="text" name="data.grip_2" value="{{data.grip_2}}" />
            </fieldset>
        </article>
        <article class="properties" data-group="primary" data-tab="properties">
            {{> 'systems/l5r5e/templates/items/property/properties.html' properties=data.propertiesList }}
        </article>
        {{> 'systems/l5r5e/templates/items/item/item-infos.html' }}
    </section>
</form>
