<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="resource">
            	<label>{{ localize 'l5r5e.quantity' }}</label>
                <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
            </div>
            <div class="resource">
            	<label>{{ localize 'l5r5e.weight' }}</label>
                <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
            </div>
        </div>

        <div class="header-fields">
            <div class="resource">
                <label>{{ localize 'l5r5e.category' }}</label>
                <input type="text" name="data.category" value="{{data.category}}" />
            </div>
            <div class="resource">
                <label>{{ localize 'l5r5e.skill' }}</label>
                <select class="attribute-dtype" name="data.skill">
                    {{#select data.skill}}
                    {{#each data.skills as |id cat|}}
                    <option value="{{id}}">{{localizeSkillId id}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <label class="attribute-value checkbox">
                <input type="checkbox" name="data.equipped" {{checked item.data.equipped}} />
                equipped / sheathed (rengainée)
            </label>
            <label class="attribute-value checkbox">
                <input type="checkbox" name="data.readied" {{checked item.data.readied}} />
                readied (apprêté)
            </label>
        </div>

        <div class="header-fields">
            <div class="resource">
                <label>{{ localize 'l5r5e.rarity' }}</label>
                <input type="text" name="data.rarity" value="{{data.rarity}}" data-dtype="Number"/>
            </div>
            <div class="resource">
                <label>{{ localize 'l5r5e.zeni' }}</label>
                <input type="text" name="data.zeni" value="{{data.zeni}}" data-dtype="Number"/>
            </div>
        </div>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">Description</a>
        </nav>
        {{!-- Description Tab --}}
        <article class="tab" data-group="primary" data-tab="description">
            <fieldset class="weapon-stats-content">
                <label class="attribute-label">
                    {{ localize 'l5r5e.damage' }}
                    <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="Number" placeholder="0"/>
                </label>
                <label class="attribute-label">
                    {{ localize 'l5r5e.range' }}
                    <input type="text" name="data.range" value="{{data.range}}" data-dtype="Number" placeholder="0"/>
                </label>
            </fieldset>
            <fieldset class="weapon-stats-content">
                <label class="attribute-label">
                    {{ localize 'l5r5e.deadliness' }}
                    <input type="text" name="data.deadliness" value="{{data.deadliness}}" data-dtype="Number" placeholder="0"/>
                </label>
                <label class="attribute-label">
                    {{ localize 'l5r5e.grips' }}
                    <input type="text" name="data.grip_1" value="{{data.grip_1}}" />
                    <input type="text" name="data.grip_2" value="{{data.grip_2}}" />
                </label>
            </fieldset>
            <fieldset>
                <legend class="text-block-header">{{ localize  'l5r5e.properties' }}</legend>
                {{> 'systems/l5r5e/templates/items/property/properties.html' properties=data.propertiesList }}
            </fieldset>
            <fieldset>
                <legend class="text-block-header">{{ localize  'l5r5e.description' }}</legend>
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </fieldset>
            <div class="resource">
                <label>{{ localize 'l5r5e.book_reference' }}</label>
                <input type="text" name="data.book_reference" value="{{data.book_reference}}" />
            </div>
        </article>
    </section>
</form>
