<div class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        <h1 class="charname"><input name="name" type="text" value="{{data.name}}" placeholder="Name"/></h1>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- attributes--}}
        <article class="attributes" data-group="primary" data-tab="description">
            <label class="attribute-value checkbox">
                <input type="checkbox" name="system.equipped" {{checked data.system.equipped}} />
                {{localize 'l5r5e.weapons.sheathed'}}
            </label>
            <label class="attribute-value checkbox">
                <input type="checkbox" name="system.readied" {{checked data.system.readied}} />
                {{localize 'l5r5e.weapons.readied'}}
            </label>
            {{> 'systems/l5r5e/templates/items/item/item-value.html'}}
            <label class="category">
                {{localize 'l5r5e.weapons.category'}}
                <input type="text" name="system.category" value="{{data.system.category}}" />
            </label>
            <label class="skillType">
                {{localize 'l5r5e.skills.label'}}
                <select class="attribute-dtype" name="system.skill">
                    {{selectOptions data.skills selected=data.system.skill valueAttr='id' labelAttr='label' localize=true}}
                </select>
            </label>
            <fieldset class="stats weapon-core-stats">
                <legend class="text-block-header">{{localize  'l5r5e.weapons.stats'}}</legend>
                <label class="weapon-stat-row">
                    <span>{{localize 'l5r5e.weapons.range'}}</span>
                    <input class="select-on-focus" type="text" name="system.range" value="{{data.system.range}}" data-dtype="String" placeholder="0"/>
                </label>
                <label class="weapon-stat-row">
                    <span>{{localize 'l5r5e.weapons.damage'}}</span>
                    <input class="select-on-focus" type="number" name="system.damage" value="{{data.system.damage}}" data-dtype="Number" min="0" placeholder="0"/>
                </label>
                <label class="weapon-stat-row">
                    <span>{{localize 'l5r5e.weapons.deadliness'}}</span>
                    <input class="select-on-focus" type="number" name="system.deadliness" value="{{data.system.deadliness}}" data-dtype="Number" min="0" placeholder="0"/>
                </label>
                <label class="weapon-stat-row">
                    <span>{{localize 'l5r5e.automation.item.damageType'}}</span>
                    <select name="system.damage_type">
                        <option value="physical" {{#ifCond data.system.damage_type '==' 'physical'}}selected{{/ifCond}}>{{localize 'l5r5e.automation.item.physical'}}</option>
                        <option value="supernatural" {{#ifCond data.system.damage_type '==' 'supernatural'}}selected{{/ifCond}}>{{localize 'l5r5e.automation.item.supernatural'}}</option>
                    </select>
                </label>
            </fieldset>
            <fieldset class="stats weapon-grip-stats">
                <legend class="text-block-header">{{localize 'l5r5e.weapons.grips'}}</legend>
                <label>
                    {{localize 'l5r5e.automation.item.activeGrip'}}
                    <select name="system.active_grip">
                        <option value="one-handed" {{#ifCond data.system.active_grip '==' 'one-handed'}}selected{{/ifCond}}>{{localize 'l5r5e.weapons.1hand'}}</option>
                        <option value="two-handed" {{#ifCond data.system.active_grip '==' 'two-handed'}}selected{{/ifCond}}>{{localize 'l5r5e.weapons.2hand'}}</option>
                    </select>
                </label>
                <label>
                    {{localize 'l5r5e.weapons.1hand'}}
                    <input class="grip" type="text" name="system.grip_1" value="{{data.system.grip_1}}" />
                </label>
                <label>
                    {{localize 'l5r5e.weapons.2hand'}}
                    <input class="grip" type="text" name="system.grip_2" value="{{data.system.grip_2}}" />
                </label>
                <label>1H Δ Damage <input type="number" name="system.grip_profiles.one-handed.damage_modifier" value="{{data.system.grip_profiles.one-handed.damage_modifier}}"></label>
                <label>1H Δ Deadliness <input type="number" name="system.grip_profiles.one-handed.deadliness_modifier" value="{{data.system.grip_profiles.one-handed.deadliness_modifier}}"></label>
                <label>1H Range <input type="number" name="system.grip_profiles.one-handed.range_min" value="{{data.system.grip_profiles.one-handed.range_min}}" min="0">–<input type="number" name="system.grip_profiles.one-handed.range_max" value="{{data.system.grip_profiles.one-handed.range_max}}" min="0"></label>
                <label>2H Δ Damage <input type="number" name="system.grip_profiles.two-handed.damage_modifier" value="{{data.system.grip_profiles.two-handed.damage_modifier}}"></label>
                <label>2H Δ Deadliness <input type="number" name="system.grip_profiles.two-handed.deadliness_modifier" value="{{data.system.grip_profiles.two-handed.deadliness_modifier}}"></label>
                <label>2H Range <input type="number" name="system.grip_profiles.two-handed.range_min" value="{{data.system.grip_profiles.two-handed.range_min}}" min="0">–<input type="number" name="system.grip_profiles.two-handed.range_max" value="{{data.system.grip_profiles.two-handed.range_max}}" min="0"></label>
            </fieldset>
        </article>
        <article class="properties" data-group="primary" data-tab="properties">
            {{> 'systems/l5r5e/templates/items/property/properties.html' properties=data.propertiesList}}
        </article>
        {{> 'systems/l5r5e/templates/items/item/item-infos.html'}}
    </section>
</div>
