<<li class="item peculiarity flexcol">
    <ul class="item-header peculiarity-controls">
        <li class="item-img"><img src="{{peculiarity.img}}" title="{{peculiarity.name}}" width="32px" height="32px"/></li>
        <li class="item-name">{{ peculiarity.name }}</li>
        {{#if editable}}
            <li data-item-id="{{peculiarity._id}}" class="item-control item-edit" title="{{localize 'l5r5e.global.edit'}}"><i class="fas fa-edit"></i></li>
            <li data-item-id="{{peculiarity._id}}" class="item-control item-delete" title="{{localize 'l5r5e.global.delete'}}"><i class="fas fa-trash"></i></li>
        {{/if}}
    </ul>
    <p class="item-description">{{{ peculiarity.data.description }}}</p>
</li>