/*************************************************************/
/*======================= SIDEBAR ===========================*/
/*************************************************************/  
#sidebar #sidebar-tabs i.fa-comments {
    content: "";
    background-image: url("../ui/sidebar/sidebar_button-chat.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}
#sidebar #sidebar-tabs i.fa-comments::before {
    content: "";
}
#sidebar #sidebar-tabs i.fa-comments {
    content: "";
    background-image: url("../ui/sidebar/sidebar_button-chat.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-fist-raised {
    content: "";
    background-image: url("../ui/sidebar/sidebar_button-combat-tracker.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-fist-raised::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-map {
    content: "";
    background-image: url("../ui/sidebar/sidebar_button-scenes.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-map::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-users {
    content: "";
    background-image: url("../ui/sidebar/sidebar_button-actors.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-users::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-suitcase {
    content: "";
    background-image: url("../ui/sidebar/sidebar_button-object.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-suitcase::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-book-open {
    content: "";
    background-image: url("../ui/sidebar/sidebar_button-journal.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-book-open::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-th-list {
    content: "";
    background-image: url("../ui/sidebar/sidebar_button-rolltable.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-th-list::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-music {
    content: "";
    background-image: url("../ui/sidebar/sidebar_button-playlist.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-music::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-atlas {
    content: "";
    background-image: url("../ui/sidebar/sidebar_button-compendium.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-atlas::before {
    content: "";
}

#sidebar #sidebar-tabs i.fa-cogs {
    content: "";
    background-image: url("../ui/sidebar/sidebar_button-settings.webp") !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block !important;
    background-position:center !important;
    background-size:cover !important;
}

#sidebar #sidebar-tabs i.fa-cogs::before {
    content: "";
}

/*************************************************************/
/*====================== COMBAT TAB =========================*/
/*************************************************************/
#combat-controls .combat-control{
    background-image: url(../ui/buttons/button-red.webp);
    text-align: center;
    background-position: center !important;
    background-size: 260px 100%!important;
    background-repeat: no-repeat;
}

/*************************************************************/
/*=============== SIDEBAR FOLDERs AS BUTTONS ================*/
/*************************************************************/
.sidebar-tab .folder .folder-header {
    background-image: url(../ui/buttons/button-grey-light.webp)  !important;
    text-align: left !important;
    background-position: center !important;
    background-size: 100% 55px!important;
    background-repeat: no-repeat !important;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
    padding-left: 25px;
}

.sidebar-tab .directory-list .directory.item h3 {
    text-align: left !important;
    padding-left: 25px;
}

#sidebar section.sidebar-directory ol.directory-list li.directory-item.folder header {
    align-items: baseline;
    text-align: left !important;
    padding-left: 25px;
}
.subdirectory .folder {
    border-left: 2px solid #585858 !important;
}

/*************************************************************/
/*================== COMPENDIUM HEADERS =====================*/
/*************************************************************/

/* #endregion */

#settings button {
    background-image: url(../ui/buttons/button-blue.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    color: white;
    font-size: 14px;
    height: 100%;
    width: 100%;
 }

/* #region Remove speaker name background colors in Chat window */
#chat-log .message .message-header .message-sender {
    background-color: rgba(0,0,0,0) !important;
}
/* #endregion */

/* #region Fix so as not to bigfoot on VTTA's tag system */
#sidebar section > ol.directory-list > li header > span.vtta-folder-label {
    text-shadow: 0px 0px 0px black !important;
}
/* #endregion */

/* #region Chat log */
/* differentiate public roll from private or blind.
 Private uses class whisper, blind uses class blind AND whisper, Self Roll
 uses class whisper (identical to Private Roll for CSS) */
#chat-log .message.whisper {
    font-style: italic;
}

#chat-log .message.whisper .message-header .message-metadata::before{
    color: rgba(88, 88, 88, 0.25);
    content: " (Private Roll) ";
    float: left;
}


#chat-log .message.blind .message-header .message-metadata::before{
    color: rgba(88, 88, 88, 0.25);
    content: " (Blind Roll) " !important;
    float: left;
}
