<div class="{{cssClass}}" data-actor-id="{{actor.data._id}}" data-item-id="{{data._id}}">
    <header class="card-header">
        <h2 class="item-name"><img src="{{data.img}}" title="{{data.name}}" /> {{data.name}}</h2>
    </header>
    <section class="sheet-body">
        <ul>
            <li>
                <p><strong>{{localize 'l5r5e.advancements.rarity_modifier'}}</strong> : {{data.data.rarity_modifier}}</p>
            </li>
            <li>
                <p><strong>{{localize 'l5r5e.advancements.cost'}}</strong> : {{data.data.xp_cost}}</p>
            </li>
            <li>
                <p><strong>{{localize 'l5r5e.advancements.spent'}}</strong> : {{data.data.xp_used}}</p>
            </li>
            <li>
                <p><strong>{{localize 'l5r5e.rank'}}</strong> : {{data.data.rank}}</p>
            </li>
            <li>
                <p><strong>{{localize 'l5r5e.bought_at_rank'}}</strong> : {{data.data.bought_at_rank}}</p>
            </li>

            {{!--Linked property--}}
            {{!--
            <li>
                <p>
                    <strong>{{localize 'l5r5e.linked_property'}}</strong> : {{{data.data.linkedProperty.name}}}
                    linked_property_id
                </p>
            </li>
            --}}

            {{!--item-infos--}}
            <li>
                <p><strong>{{localize 'l5r5e.description'}}</strong> : {{{data.data.description}}}</p>
            </li>
            <li>
                <p><strong>{{localize 'l5r5e.book_reference'}}</strong> : {{data.data.book_reference}}</p>
            </li>
        </ul>
    </section>
</div>
