<div class="l5r5e dice-picker-dialog">

    <div class="form-group l5r5e profil">
        <img class="profile-img" src="{{#if actor.img}}{{actor.img}}{{/if}}{{^if actor.img}}icons/svg/mystery-man.svg{{/if}}" data-edit="img" height="100" width="100">
    </div>

    <form class="noflex l5r5e dices" autocomplete="off">
        <div class="form-group">
            <label>{{localize "l5r5e.approaches"}}:</label>
            <div class="form-fields">
                {{#each elementsList}}
                <input type="radio" id="approach_{{this.id}}" name="approach" value="{{this.id}}" data-dice="{{this.value}}">
                <label for="approach_{{this.id}}">
                    <i class="i_{{this.id}} {{this.id}}" title="{{this.label}}"></i>
                </label>
                {{/each}}
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label><i class="d6"></i> {{localize "l5r5e.rings.title"}}:</label>
            <div class="form-fields">
                {{#each dicesList}}
                <input type="radio" id="ring_{{this}}" name="ring" value="{{this}}">
                <label for="ring_{{this}}">
                    {{this}}
                </label>
                {{/each}}
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label><i class="d12"></i> {{localize "l5r5e.skills.title"}}:</label>
            <div class="form-fields">
                {{#each dicesList}}
                <input type="radio" id="skill_{{this}}" name="skill" value="{{this}}">
                <label for="skill_{{this}}">
                    {{this}}
                </label>
                {{/each}}
            </div>
        </div>

        {{#if skillData.name}}
        <hr>
        <div class="form-group">
            <label><i class="d12"></i> {{skillData.value}} : {{skillData.name}} </label>
        </div>
        {{/if}}

        <hr>
        <div class="form-group">
            <button name="roll">Roll <i class='fas fa-arrow-circle-right'></i></button>
        </div>
    </form>
</div>
