<form class="l5r5e dice-picker-dialog" autocomplete="off">
    <table>
        <!-- First line-->
        <tr>
            <td class="profil center">
                <img class="profile-img"
                     src="{{#if actor.img}}{{actor.img}}{{/if}}{{^if actor.img}}icons/svg/mystery-man.svg{{/if}}"
                     data-edit="img"
                     height="200"
                     width="200"
                     alt="{{#if actor.name}}{{actor.name}}{{/if}}{{^if actor.name}}mystery-man{{/if}}"
                >
            </td>
            <td class="rings center">
                <ul class="rings">
                    {{#each elementsList}}
                    <li id="{{this.id}}">
                        <label class="attribute-label {{this.id}} centered-input ring-selection pointer-choice">
                            <i class="i_{{this.id}}"></i>
                            <strong>{{this.label}}</strong>
                            <input class="centered-input approach_{{this.id}}"
                                   type="text"
                                   name="approach"
                                   data-ringid="{{this.id}}"
                                   value="{{this.value}}"
                                   readonly="readonly"
                            />
                        </label>
                    </li>
                    {{/each}}
                </ul>
            </td>
            <td class="skill">
                {{#if skillData.name}}
                <div>
                    <label>{{localizeSkill skillData.cat 'title'}}</label>
                </div>

                {{#if actorIsPc}}
                <div>
                    <label>{{skillData.name}}</label>
                </div>
                {{/if}}

                <div>
                    <label id="stance_label">unknown</label>
                </div>
                <div id="skill_default_value" class="dice-container pointer-choice">
                    <img src="systems/l5r5e/assets/dices/default/skill_blank.svg" alt="1">
                    <div class="dice-value">
                        <span class="dice-skill" type="text" name="skill_{{skillData.name}}">{{skillData.value}}</span>
                    </div>
                </div>
                {{/if}}
                {{^if skillData.name}}
                <img class="profile-img"
                     src="systems/l5r5e/assets/imgs/noskill.png"
                     data-edit="img"
                     height="200"
                     width="200"
                     alt="no skill selected"
                >
                {{/if}}
            </td>
        </tr>

        <!-- Second line-->
        <tr>
            <td>
                {{localize "l5r5e.dicepicker.difficulty_title"}}
            </td>
            <td>
                {{localize "l5r5e.rings.title"}}
            </td>
            <td>
                {{localize "l5r5e.skills.title"}}
            </td>
        </tr>

        <!-- Third line-->
        <tr>
            <td>
                <div id="difficulty_picker">
                    <div class="third">
                        <i id="diff_sub" class="quantity pointer-choice fa fa-minus-square"></i>
                    </div>

                    <div class="third">
                        <div class="dice-container">
                            <img src="systems/l5r5e/assets/dices/default/3d/blank.png" alt="1">
                            <div class="dice-value">
                                <input id="diff_value" class="input-dice" type="text" name="diff" value="{{difficulty.difficulty}}" readonly="readonly">
                            </div>
                        </div>
                    </div>

                    <div class="third">
                        <i id="diff_add" class="quantity pointer-choice fa fa-plus-square"></i>
                    </div>
                </div>
            </td>

            <td>
                <div class="third">
                    <i id="ring_sub" class="quantity pointer-choice fa fa-minus-square"></i>
                </div>

                <div class="third">
                    <div class="dice-container">
                        <img src="systems/l5r5e/assets/dices/default/ring_blank.svg" alt="1">
                        <div class="dice-value">
                            <input id="ring_value" class="input-dice input-dice-ring" type="text" name="ring" value="0" readonly="readonly">
                        </div>
                    </div>
                </div>

                <div class="third">
                    <i id="ring_add" class="quantity pointer-choice fa fa-plus-square"></i>
                </div>
            </td>

            <td>
                <div class="third">
                    <i id="skill_sub" class="quantity pointer-choice fa fa-minus-square"></i>
                </div>

                <div class="third">
                    <div class="dice-container">
                        <img src="systems/l5r5e/assets/dices/default/skill_blank.svg" alt="1">
                        <div class="dice-value">
                            <input id="skill_value" class="input-dice input-dice-skill" type="text" name="skill" value="{{skillData.value}}" readonly="readonly">
                        </div>
                    </div>
                </div>

                <div class="third">
                    <i id="skill_add" class="quantity pointer-choice fa fa-plus-square"></i>
                </div>
            </td>
        </tr>

        <!-- Fourth line -->
        <tr>
            <td>
                <input type="checkbox" id="diff_hidden" name="diff_hidden" value="1">
                <label for="diff_hidden">
                    {{localize 'l5r5e.dicepicker.difficulty_hidden_label'}}
                </label>
            </td>
            <td>
                {{#if canUseVoidPoint}}
                    <input type="checkbox" id="use_void_point" name="use_void_point" value="1">
                    <label for="use_void_point">
                        {{localize 'l5r5e.dicepicker.use_void_point_label'}}
                    </label>
                {{/if}}
            </td>
            <td>
            </td>
        </tr>

    </table>

    <div class="form-group">
        <button name="roll" type="submit">{{localize 'l5r5e.dicepicker.roll_label'}} <i class='fas fa-arrow-circle-right'></i></button>
    </div>
</form>
