<fieldset class="xp">
    <legend>{{ localize 'l5r5e.experience'}}</legend>
    <label class="attribute-label">
        {{ localize 'l5r5e.xp.total' }}
        <input type="text" name="data.xp_total" value="{{ data.xp_total }}" data-dtype="Number" placeholder="0"/>
    </label>
    <label class="attribute-label">
        {{ localize 'l5r5e.xp.spent' }}
        <input type="text" name="data.xp_spent" value="{{ data.xp_spent }}" data-dtype="Number" placeholder="0"/>
    </label>
    <label class="attribute-label">
        {{ localize 'l5r5e.xp.saved' }}
        <input type="text" name="data.xp_saved" value="{{ data.xp_saved }}" data-dtype="Number" placeholder="0"/>
    </label>
</fieldset>
<fieldset class="acquisitions">
    <legend class="tools">{{ localize 'l5r5e.xp.acquisitions'}} <a class="acquisition-control acquisition-add" title="{{ localize 'l5r5e.add'}}"><i class="fas fa-plus"></i></a></legend>
    <table>
        <thead class="flex">
            <tr class="flexrow row">
                <th class="name">{{ localize 'l5r5e.name' }}</th>
                <th class="xp">{{ localize 'l5r5e.xp.spent' }}</th>
                <th class="rank">{{ localize 'l5r5e.rank' }}</th>
            </tr>
        </thead>
        <tbody class="flex">
            {{#each data.advancements as |acquisition acquisitionId| }}
                {{> 'systems/l5r5e/templates/sheets/actor/advancement.html' acquisition=acquisition }}
            {{/each}}
        </tbody>
    </table>
</fieldset>