<ul class="identity-wrapper">
    <li>
        <label class="attribute-label">{{ localize 'L5r5e.Clan' }}</label>
        <input type="text" name="data.identity.clan" value="{{data.identity.clan}}"/>
    </li>
    <li>
        <label class="attribute-label">{{ localize 'L5r5e.Family' }}</label>
        <input type="text" name="data.identity.family" value="{{data.identity.family}}"/>
    </li>
    <li>
        <label class="attribute-label">{{ localize 'L5r5e.School' }}</label>
        <input type="text" name="data.identity.school" value="{{data.identity.school}}"/>
    </li>
    <li>
        <label class="attribute-label">{{ localize 'L5r5e.SchoolRank' }}</label>
        <input type="text" name="data.identity.school_rank" value="{{data.identity.school_rank}}" data-dtype="Number" placeholder="0"/>
    </li>
    <li>
        <label class="attribute-label">{{ localize 'L5r5e.Roles' }}</label>
        <input type="text" name="data.identity.roles" value="{{data.identity.roles}}"/>
    </li>
</ul>