<ul class="narrative-content">
    <li>
        <label class="attribute-label">{{ localize 'l5r5e.socialstanding.ninjo' }}</label>
        <input type="text" name="data.social_standing.ninjo" value="{{data.social_standing.ninjo}}"/>
    </li>
    <li>
        <label class="attribute-label">{{ localize 'l5r5e.socialstanding.giri' }}</label>
        <input type="text" name="data.social_standing.giri" value="{{data.social_standing.giri}}"/>
    </li>
    <li>
        <label class="attribute-label">{{ localize 'l5r5e.socialstanding.socialtitles' }}</label>
        <input type="text" name="data.social_standing.titles" value="{{data.social_standing.titles}}"/>
    </li>
</ul>
<fieldset>
    <legend class="text-block-header">{{ localize 'l5r5e.notes' }}</legend>
    {{ editor content=data.notes.value target="data.notes.value" button=true editable=editable }}
</fieldset>