<ul class="rings">
    <li id="earth">
        <label class="attribute-label earth centered-input"><i class="i_earth"></i> {{ localizeRing 'Earth' }}</label>
        <input class="centered-input" type="text" name="data.rings.earth" value="{{data.rings.earth}}" data-dtype="Number" placeholder="0"/>
    </li>
    <li  id="air">
        <label class="attribute-label air centered-input"><i class="i_air"></i> {{ localizeRing 'Air' }}</label>
        <input class="centered-input" type="text" name="data.rings.air" value="{{data.rings.air}}" data-dtype="Number" placeholder="0"/>
    </li>
    <li  id="water">
        <label class="attribute-label water centered-input"><i class="i_water"></i> {{ localizeRing 'Water' }}</label>
        <input class="centered-input" type="text" name="data.rings.water" value="{{data.rings.water}}" data-dtype="Number" placeholder="0"/>
    </li>
    <li id="fire">
        <label class="attribute-label fire centered-input"><i class="i_fire"></i> {{ localizeRing 'Fire' }}</label>
        <input class="centered-input" type="text" name="data.rings.fire" value="{{data.rings.fire}}" data-dtype="Number" placeholder="0"/>
    </li>
    <li id="void">
        <label class="attribute-label void centered-input"><i class="i_void"></i> {{ localizeRing 'Void' }}</label>
        <input class="centered-input" type="text" name="data.rings.void" value="{{data.rings.void}}" data-dtype="Number" placeholder="0"/>
    </li>
</ul>