<ul class="rings">
    <li id="earth">
        <label class="attribute-label earth centered-input">
            <i class="i_earth"></i>
            <strong>{{ localizeRing 'Earth' }}</strong>
            <input class="centered-input" type="text" name="data.rings.earth" value="{{data.rings.earth}}" data-dtype="Number" placeholder="0"/>
        </label>
    </li>
    <li  id="air">
        <label class="attribute-label air centered-input">
            <i class="i_air"></i>
            <strong>{{ localizeRing 'Air' }}</strong>
            <input class="centered-input" type="text" name="data.rings.air" value="{{data.rings.air}}" data-dtype="Number" placeholder="0"/>
        </label>
    </li>
    <li  id="water">
        <label class="attribute-label water centered-input">
            <i class="i_water"></i>
            <strong>{{ localizeRing 'Water' }}</strong>
            <input class="centered-input" type="text" name="data.rings.water" value="{{data.rings.water}}" data-dtype="Number" placeholder="0"/>
        </label>
    </li>
    <li id="fire">
        <label class="attribute-label fire centered-input">
            <i class="i_fire"></i>
            <strong>{{ localizeRing 'Fire' }}</strong>
            <input class="centered-input" type="text" name="data.rings.fire" value="{{data.rings.fire}}" data-dtype="Number" placeholder="0"/>
        </label>
    </li>
    <li id="void">
        <label class="attribute-label void centered-input">
            <i class="i_void"></i>
            <strong>{{ localizeRing 'Void' }}</strong>
            <input class="centered-input" type="text" name="data.rings.void" value="{{data.rings.void}}" data-dtype="Number" placeholder="0"/>
        </label>
    </li>
</ul>