<ul class="social-content">
    <li>
        <label class="attribute-label centered-input">
            {{ localize 'L5r5e.SocialStanding.Honor' }}
            <input class="centered-input" type="text" name="data.social.honor" value="{{data.social.honor}}" placeholder="0"/>
        </label>
    </li>
    <li>
        <label class="attribute-label centered-input">
            {{ localize 'L5r5e.SocialStanding.Glory' }}
            <input class="centered-input" type="text" name="data.social.glory" value="{{data.social.glory}}" placeholder="0"/>
        </label>
    </li>
    <li>
        <label class="attribute-label centered-input">
            {{ localize 'L5r5e.SocialStanding.Status' }}
            <input class="centered-input" type="text" name="data.social.status" value="{{data.social.status}}" placeholder="0"/>
        </label>
    </li>
</ul>