<ul class="social-wrapper">
    <li>
        <label class="attribute-label centered-input">{{ localize 'L5r5e.SocialStanding.Honor' }}</label>
        <input class="centered-input" type="text" name="data.social_standing.honor" value="{{data.social_standing.honor}}" placeholder="0"/>
    </li>
    <li>
        <label class="attribute-label centered-input">{{ localize 'L5r5e.SocialStanding.Glory' }}</label>
        <input class="centered-input" type="text" name="data.social_standing.glory" value="{{data.social_standing.glory}}" placeholder="0"/>
    </li>
    <li>
        <label class="attribute-label centered-input">{{ localize 'L5r5e.SocialStanding.Status' }}</label>
        <input class="centered-input" type="text" name="data.social_standing.status" value="{{data.social_standing.status}}" placeholder="0"/>
    </li>
    <li>
        <label class="attribute-label">{{ localize 'L5r5e.SocialStanding.Ninjo' }}</label>
        <input type="text" name="data.social_standing.ninjo" value="{{data.social_standing.ninjo}}"/>
    </li>
    <li>
        <label class="attribute-label">{{ localize 'L5r5e.SocialStanding.Giri' }}</label>
        <input type="text" name="data.social_standing.giri" value="{{data.social_standing.giri}}"/>
    </li>
    <li>
        <label class="attribute-label">{{ localize 'L5r5e.SocialStanding.SocialTitles' }}</label>
        <input type="text" name="data.social_standing.titles" value="{{data.social_standing.titles}}"/>
    </li>
</ul>