<div class="header-fields warlord">
    <fieldset>
        <legend>{{^if data.data.warlord_actor_id}}<i class="fa fa-sign-in-alt" aria-hidden="true"></i> {{/if}}{{localize 'l5r5e.army.warlord'}}</legend>
        <p class="warlord-name">
            {{#if data.data.warlord_actor_id}}
                <label>
                    <a data-actor-id="{{data.data.warlord_actor_id}}" class="open-sheet-actor-id">{{data.data.warlord}}</a>
                    <span data-actor-id="{{actor.id}}" data-type="warlord" class="actor-remove-control pointer" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></span>
                </label>
            {{else}}
                <input name="data.warlord" type="text" value="{{data.data.warlord}}" />
            {{/if}}
        </p>
        <p>
            <strong>{{localize 'l5r5e.army.allies_backers'}}</strong>
            <textarea type="text" name="data.allies_backers">{{data.data.allies_backers}}</textarea>
        </p>
        <p>
            <strong>{{localize 'l5r5e.army.purpose_mustering'}}</strong>
            <textarea type="text" name="data.purpose_mustering">{{data.data.purpose_mustering}}</textarea>
        </p>
    </fieldset>
</div>
<div class="header-fields commander">
    <fieldset>
        <legend>{{^if data.data.commander_actor_id}}<i class="fa fa-sign-in-alt" aria-hidden="true"></i> {{/if}}{{localize 'l5r5e.army.commander'}}</legend>
        <div class="warlord-name">
            {{#if data.data.commander_actor_id}}
                <label>
                    <a data-actor-id="{{data.data.commander_actor_id}}" class="open-sheet-actor-id">{{data.data.commander}}</a>
                    <span data-actor-id="{{actor.id}}" data-type="commander" class="actor-remove-control pointer" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></span>
                </label>
            {{else}}
                <input name="data.commander" type="text" value="{{data.data.commander}}" />
            {{/if}}
        </div>
        <div class="standing">
            <ul>
                <li>
                    <strong>{{localize 'l5r5e.social.honor'}}</strong>
                    <input name="data.commander_standing.honor" type="number" value="{{data.data.commander_standing.honor}}" />
                </li>
                <li>
                    <strong>{{localize 'l5r5e.social.glory'}}</strong>
                    <input name="data.commander_standing.glory" type="number" value="{{data.data.commander_standing.glory}}" />
                </li>
                <li>
                    <strong>{{localize 'l5r5e.social.status'}}</strong>
                    <input name="data.commander_standing.status" type="number" value="{{data.data.commander_standing.status}}" />
                </li>
            </ul>
        </div>
        <label>
            <strong>{{localize 'l5r5e.army.commander_abilities'}}</strong>
            <textarea type="text" name="data.commander_abilities">{{data.data.commander_abilities}}</textarea>
        </label>
    </fieldset>
    <fieldset class="army-abilities">
        <legend>{{localize 'l5r5e.army.army_abilities'}}</legend>
        {{editor content=data.data.army_abilities target="data.army_abilities" button=true editable=options.editable}}
    </fieldset>
</div>