/** Colors **/

// -- Global
$white: rgba(255, 255, 255, 0.65);
$black: rgba(0, 0, 0, 0.75);
$dark-red: rgba(25, 0, 0, 0.75);
$red: rgba(255, 0, 0, 0.75);
$orange: rgba(255, 100, 0, 0.75);
$blue: rgba(0, 0, 255, 0.75);
$green: rgba(0, 255, 0, 0.75);

// color title
$l5r5e-title: rgba(186, 187, 177, 0.5);
// color bold
$l5r5e-bold: rgb(118, 79, 64);
// color label
$l5r5e-label: rgb(90, 110, 90);
// color red
$l5r5e-red: rgb(150, 60, 65);
// color white 0.5
$l5r5e-white: rgba(255, 255, 255, 0.5);
// color white 0.5
$l5r5e-white-light: rgba(255, 255, 255, 0.25);
// color black 0.5
$l5r5e-black: rgba(0, 0, 0, 0.5);

// gradient
$l5r5e-linear-gradient-red: rgba(65, 20, 15, 1);
$l5r5e-linear-gradient-red-dark: rgba(35, 10, 5, 1);
$l5r5e-linear-gradient-blue: rgba(40, 80, 100, 1);
$l5r5e-linear-gradient-blue-dark: rgba(10, 20, 30, 1);
$l5r5e-linear-gradient-green: rgba(40, 100, 50, 1);
$l5r5e-linear-gradient-green-dark: rgba(10, 60, 15, 1);

// -- Rings

// Earth
$l5r5e-earth: rgb(105, 150, 120);
// Air
$l5r5e-air: rgb(145, 120, 150);
// Water
$l5r5e-water: rgb(95, 145, 155);
// Fire
$l5r5e-fire: rgb(155, 115, 80);
// Void
$l5r5e-void: rgb(75, 70, 65);

// -- Clans

// Crab
$l5r5e-dragon: rgb(130, 130, 140);
// Crane
$l5r5e-dragon: rgb(120, 145, 145);
// Dragon
$l5r5e-dragon: rgb(85, 130, 110);
// Lion
$l5r5e-dragon: rgb(160, 140, 80);
// Mantis
$l5r5e-dragon: rgb(45, 85, 30);
// Phoenix
$l5r5e-dragon: rgb(145, 190, 175);
// Scorpion
$l5r5e-dragon: rgb(155, 70, 60);
// Unicorn
$l5r5e-dragon: rgb(120, 90, 135);
// Spider
$l5r5e-dragon: rgb(0, 0, 0);

.Crab {
}
.Crane {
}
.Dragon {
}
.Lion {
}
.Mantis {
}
.Phoenix {
}
.Scorpion {
}
.Unicorn {
}
.Spider {
}
