//SCSS
// dices.scss

// Dice in chat
.chat-dice > img {
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 44px;
    width: 44px;
    //cursor: pointer;
    //-webkit-appearance: none;
    //appearance: none;
    outline: none;
    margin: 0;
    flex: 0 0 20px;
    display: inline-block;
}

.dice-picker-dialog {
    .profil {
        float: left;
    }
    .dices {
        float: right;
    }
}
