// Dice in chat
.chat-dice {
    &.rerolled > img {
        border-bottom: 3px solid orangered;
    }

    &.swapped > img {
        border-bottom: 3px solid fuchsia;
    }

    > img {
        border: 1px solid transparent;
        height: auto;
        width: calc(100% / 6 - 0.255rem);
        margin: auto;
    }
}

.chat-profil {
    text-align: center;
    vertical-align: middle;

    &-stance {
        font-size: 40px;
        position: relative;
        top: 8px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    &-element {
        flex-wrap: wrap;
        flex-grow: 1;

        &-skill {
            flex-grow: 3;
        }
    }
}
