/** Fonts **/

// Font Logotype L5R
@font-face {
    font-family: "LogotypeL5r";
    src: url("../fonts/LogotypeL5r.ttf") format("truetype");
}

// Font BrushtipTexe
@font-face {
    font-family: "BrushtipTexe";
    src: url("../fonts/BrushtipTexe.ttf") format("truetype");
}

// Font PatrickHand
@font-face {
    font-family: "PatrickHand";
    src: url("../fonts/PatrickHand.ttf") format("truetype");
}

// Font ManoNegra
@font-face {
    font-family: "ManoNegra";
    src: url("../fonts/ManoNegra.ttf") format("truetype");
}

// Font ArchitectsDaughter
@font-face {
    font-family: "ArchitectsDaughter";
    src: url("../fonts/ArchitectsDaughter.ttf") format("truetype");
}

$font-primary: "PatrickHand", sans-serif;
$font-secondary: "BrushtipTexe", sans-serif;
$font-tertiary: "BrushtipTexe", sans-serif;
$font-quaternary: "ArchitectsDaughter", sans-serif;
$font-logoType: "LogotypeL5r", sans-serif;

body {
    font: 16px $font-primary;
    letter-spacing: 0.05rem;
}

h1,
h4 {
    font-family: $font-secondary;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1.25rem;
}

p {
    font-family: $font-quaternary;
}

i.strife,
i.success,
i.explosive,
i.opportunity,
i.i_earth,
i.i_water,
i.i_fire,
i.i_air,
i.i_void,
i.i_kiho,
i.i_maho,
i.i_ninjitsu,
i.i_prerequisite_exemption,
i.i_rituals,
i.i_shuji,
i.i_invocations,
i.i_kata,
i.i_imperial,
i.i_crab,
i.i_crane,
i.i_dragon,
i.i_lion,
i.i_mantis,
i.i_phoenix,
i.i_scorpion,
i.i_tortoise,
i.i_unicorn,
i.i_bushi,
i.i_courtier,
i.i_shugenja {
    font-family: $font-logoType;
    line-height: 1rem;
    font-style: normal;
    font-weight: normal;
    vertical-align: middle;
}

// Dices
i.strife:before {
    content: "\E91B";
}
i.success:before {
    content: "\E91C";
}
i.explosive:before {
    content: "\E91D";
}
i.opportunity:before {
    content: "\E91A";
}

// Rings
i.i_earth:before {
    content: "\E90C";
}
i.i_water:before {
    content: "\E90A";
}
i.i_fire:before {
    content: "\E908";
}
i.i_air:before {
    content: "\E90B";
}
i.i_void:before {
    content: "\E909";
}

// Techs
i.i_kiho:before {
    content: "\E900";
}
i.i_maho:before {
    content: "\E901";
}
i.i_ninjitsu:before {
    content: "\E902";
}
i.i_prerequisite_exemption:before {
    content: "\E903";
}
i.i_rituals:before {
    content: "\E904";
}
i.i_shuji:before {
    content: "\E905";
}
i.i_invocations:before {
    content: "\E906";
}
i.i_kata:before {
    content: "\E907";
}

// Clans
i.i_imperial:before {
    content: "\E90D";
}
i.i_crab:before {
    content: "\E914";
}
i.i_crane:before {
    content: "\E915";
}
i.i_dragon:before {
    content: "\E916";
}
i.i_lion:before {
    content: "\E90E";
}
i.i_mantis:before {
    content: "\E90F";
}
i.i_phoenix:before {
    content: "\E910";
}
i.i_scorpion:before {
    content: "\E911";
}
i.i_tortoise:before {
    content: "\E912";
}
i.i_unicorn:before {
    content: "\E913";
}

// Titles
i.i_bushi:before {
    content: "\E917";
    color: rgb(165, 90, 90);
}
i.i_courtier:before {
    content: "\E918";
    color: rgb(105, 130, 165);
}
i.i_shugenja:before {
    content: "\E919";
}
