/** Sheets **/
&.sheet {
    min-width: 600px;
    label {
        &:hover {
            text-shadow: 0 0 6px $orange;
        }
    }
    &.actor {
        .sheet-header {
            height: 28rem;
        }
        .sheet-body {
            height: calc(100% - 28rem);
        }
        .techniques-wrapper {
            fieldset {
                &:last-child {
                    margin: 0 0 0 0.5rem;
                }
            }
        }
    }
    &.item,
    .technique,
    .weapon,
    .armor,
    .advantages,
    .disadvantages {
        .sheet-header {
            height: 10rem;
        }
        .sheet-body {
            height: calc(100% - 10rem);
        }
    }
    form {
        display: flex;
        flex-wrap: wrap;
    }
    .sheet-body {
        flex: 0 0 100%;
        align-items: flex-start;
    }
    .sheet-header {
        flex: 0 0 100%;
        align-items: flex-start;
        input {
            flex: 0 0 3rem;
            font-size: 1.5rem;
            height: 2rem;
        }
        h1 {
            flex: auto;
            margin: 0 0 0.25rem 1rem;
            input {
                flex: 0 0 100%;
                font-size: 3rem;
                height: 4rem;
                margin: 0.5rem 0 0;
                width: 100%;
                text-align: right;
                color: $l5r5e-red;
                background: transparent;
                border: 0 none;
                border-radius: 0;
                border-bottom: 1px solid $l5r5e-label-light;
            }
            &:before {
                content: "";
                position: absolute;
                background: url("../assets/imgs/brushL5r.webp") no-repeat 0 0;
                background-size: contain;
                height: 225px;
                width: 100%;
                z-index: -1;
                top: -1rem;
                left: -0.25rem;
            }
        }
        img {
            flex: 0 0 150px;
            height: 150px;
            margin-right: 0;
            object-fit: contain;
            background: $l5r5e-white;
            border: 1px solid $l5r5e-title;
            --notchSize: 0.5rem;
            clip-path: polygon(
                0% var(--notchSize),
                var(--notchSize) 0%,
                calc(100% - var(--notchSize)) 0%,
                100% var(--notchSize),
                100% calc(100% - var(--notchSize)),
                calc(100% - var(--notchSize)) 100%,
                var(--notchSize) 100%,
                0% calc(100% - var(--notchSize))
            );
        }
        .header-fields {
            position: relative;
            h2 {
                font-family: $font-secondary;
                float: left;
                width: 30%;
                padding: 0 0.25rem;
                margin: 1rem 20% 0 0;
                text-align: center;
                color: $white;
                text-shadow: 0 0 1px $l5r5e-label;
                border-bottom: 0 none;
                background: $l5r5e-title;
                --notchSize: 0.5rem;
                clip-path: polygon(
                    0% var(--notchSize),
                    var(--notchSize) 0%,
                    calc(100%) 0%,
                    100% var(--notchSize),
                    100% calc(100% - var(--notchSize)),
                    calc(100% - var(--notchSize)) 100%,
                    var(--notchSize) 100%,
                    0% calc(100%)
                );
                &.right {
                    margin: 1rem 0 0 20%;
                    clip-path: polygon(
                        0% 0,
                        var(--notchSize) 0%,
                        calc(100% - var(--notchSize)) 0%,
                        100% var(--notchSize),
                        100% 100%,
                        100% 100%,
                        var(--notchSize) 100%,
                        0% calc(100% - var(--notchSize))
                    );
                }
                &:before {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 100%;
                }
            }
        }
        .identity-wrapper {
            display: flex;
            position: initial;
            flex-wrap: wrap;
            flex: 0 0 calc(100% - 150px - 1.05rem);
            .identity-content {
                flex: 0 0 100%;
                display: flex;
                flex-wrap: wrap;
                margin: 0.5rem 0 0.5rem 1rem;
                li {
                    flex: 33%;
                    &:nth-child(1),
                    &:nth-child(2) {
                        flex: 50%;
                        margin: 0 0 0.5rem;
                    }
                }
            }
        }
        .rings {
            float: left;
            width: 40%;
            padding: 0;
            position: relative;
            top: -2.5rem;
        }
        .social-content,
        .attributes-wrapper {
            flex: none;
            float: left;
            width: 30%;
            flex-direction: column;
            display: flex;
            padding: 0.5rem 0 0 0.25rem;
            border-left: 2px solid $l5r5e-title;
            li {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    background: linear-gradient($l5r5e-title, rgba(186, 187, 177, 0));
                    height: 2px;
                    width: 97%;
                    top: -0.25rem;
                    left: -0.25rem;
                }
                &:nth-child(2) {
                    &:before {
                        width: 90%;
                    }
                }
                &:nth-child(3) {
                    &:before {
                        width: 80%;
                    }
                }
                &:nth-child(4) {
                    &:before {
                        width: 90%;
                    }
                }
            }
            label {
                display: flex;
                color: $l5r5e-label;
                text-transform: uppercase;
                font-size: 0.75rem;
                height: 3rem;
                margin: 0.25rem 0;
                flex-direction: row-reverse;
                strong {
                    flex: 0 0 calc(100% - 3.5rem);
                }
                input {
                    flex: 0 0 3rem;
                    margin: 0 0.25rem;
                    height: 2.5rem;
                    &[disabled] {
                        flex: 0 0 3rem;
                        background: transparent;
                    }
                }
            }
        }
        .attributes-wrapper {
            padding: 0.5rem 0.25rem 0 0;
            border-left: 0 none;
            border-right: 2px solid $l5r5e-title;
            li {
                &:before {
                    left: auto;
                    right: -0.25rem;
                }
                &.void-content {
                    &:before {
                        width: 0;
                    }
                }
            }
            label {
                flex-direction: row;
                strong {
                    text-align: right;
                }
                &:nth-child(2) {
                    position: relative;
                    flex: 50%;
                    right: 1.5rem;
                    strong {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 0.65rem;
                        width: 3rem;
                        color: $l5r5e-black;
                    }
                    input {
                        border-top: 0 none;
                        font-size: 1.25rem;
                        padding-top: 0.75rem;
                    }
                }
            }
            .endurance-content,
            .composure-content {
                input {
                    &[disabled] {
                        flex: 0 0 4.75rem;
                        padding-right: 3rem;
                    }
                }
            }
            .void-content {
                display: flex;
                position: absolute;
                bottom: 0.25rem;
                right: 35%;
                width: 10rem;
                label {
                    margin: 0;
                    strong {
                        flex: 1 0 calc(100% - 5rem);
                        padding: 0 0.25rem;
                        &:after {
                            content: "/";
                            position: absolute;
                            right: 2.9rem;
                            font-size: 1rem;
                            bottom: 0.8rem;
                            color: $l5r5e-bold;
                        }
                    }
                    input {
                        &:nth-child(2) {
                            flex: 3rem;
                            padding-right: 1.25rem;
                        }
                        &:last-child {
                            flex: 1;
                            border: 0 none;
                            font-size: 1rem;
                            text-align: right;
                            padding-left: 0.25rem;
                            padding-top: 0.75rem;
                            position: relative;
                            right: 2rem;
                        }
                    }
                }
            }
            li {
                display: flex;
                p {
                    display: none;
                    z-index: 2;
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    color: #fff;
                    padding: 0.25rem;
                    bottom: -75%;
                    right: 0;
                    --notchSize: 0.5rem;
                    clip-path: polygon(
                        0% 0,
                        0 0%,
                        100% 0%,
                        100% var(--notchSize),
                        100% calc(100% - var(--notchSize)),
                        calc(100% - var(--notchSize)) 100%,
                        var(--notchSize) 100%,
                        0% calc(100% - var(--notchSize))
                    );
                }
                &:hover {
                    p {
                        display: block;
                    }
                }
            }
        }
        .identity-wrapper label {
            display: flex;
            color: $l5r5e-label;
            text-transform: uppercase;
            font-size: 0.75rem;
            line-height: 2rem;
            input {
                flex: 1;
                margin: 0 1rem 0 0.5rem;
            }
        }
    }
    article {
        background: $l5r5e-white;
        padding: 0.5rem;
        flex-wrap: wrap;
        min-height: calc(100% - 2.25rem);
        &.tab[data-tab] {
            &.active {
                display: flex;
            }
        }
        .techniques-wrapper {
            .checklist {
                display: flex;
                flex-wrap: wrap;
                font-size: 0.85rem;
                margin: 0 0 0.25rem 0.5rem;
                padding: 0.5rem;
                background: $l5r5e-title;
                --notchSize: 0.25rem;
                clip-path: polygon(
                    0% 0,
                    var(--notchSize) 0%,
                    calc(100% - var(--notchSize)) 0%,
                    100% var(--notchSize),
                    100% 100%,
                    100% 100%,
                    var(--notchSize) 100%,
                    0% calc(100% - var(--notchSize))
                );
                label {
                    flex: 0 0 auto;
                    margin: 0 0.25rem 0.25rem;
                    padding: 0 0.5rem;
                    color: $l5r5e-label;
                    border: 1px solid $l5r5e-label;
                    border-radius: 1rem;
                }
                input {
                    margin: 0.25rem 0 0 0;
                    height: auto;
                    width: auto;
                }
            }
        }
        .stance-content {
            label {
                display: block;
                width: 100%;
                line-height: 1.5rem;
                padding: 0.25rem;
                color: $white;
                &.earth {
                    background: $l5r5e-earth;
                }
                &.air {
                    background: $l5r5e-air;
                }
                &.water {
                    background: $l5r5e-water;
                }
                &.fire {
                    background: $l5r5e-fire;
                }
                &.void {
                    background: $l5r5e-void;
                }
                input {
                    float: right;
                    position: relative;
                    top: 0.3rem;
                    right: 0.25rem;
                }
            }
            .quick-rules {
                height: 0;
                margin: 0;
                padding: 0;
                font-size: 0.75rem;
                color: rgba(0, 0, 0, 0.75);
                overflow: hidden;
                border: 1px solid $l5r5e-title;
                transition: height 0.25s ease-in;
            }
            &:hover {
                .quick-rules {
                    height: 6rem;
                    padding: 0.25rem;
                    overflow-y: auto;
                    scrollbar-width: thin;
                }
            }
        }
        .stance-content,
        .weapons-content {
            flex: 0 0 calc(50% - 0.5rem);
        }
        .armors-content {
            flex: 0 0 calc(100% - 0.5rem);
        }
    }
    .xp {
        flex: 0 0 5rem;
        flex-direction: column;
        color: $black-light;
        label {
            padding: 0.25rem;
            font-size: 0.85rem;
        }
    }
    table {
        font-size: 0.85rem;
        color: $black-light;
        thead {
            th {
                &:first-child {
                    flex: calc(100% - 16rem);
                }
                &:nth-child(2),
                &:nth-child(3) {
                    flex: 0 0 5rem;
                }
            }
        }
        tbody {
            th {
                flex: calc(100% - 13rem);
            }
            .xp,
            .rank {
                flex: 0 0 5rem;
            }
            .actions {
                flex: 0 0 3rem;
                font-size: 0.75rem;
                ul {
                    display: flex;
                    flex-direction: row;
                    li {
                        flex: 0 0 1rem;
                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }
        }
    }
}
