/** Sheets **/
&.sheet {
    min-width: 600px;
    &.actor {
        .sheet-header {
            height: 26.75rem;
        }
        .sheet-body {
            height: calc(100% - 26.75rem);
        }
    }
    &.item,
    .feat,
    .weapon,
    .armor,
    .advantages,
    .disadvantages {
        .sheet-header {
            height: 10rem;
        }
        .sheet-body {
            height: calc(100% - 10rem);
        }
    }
    form {
        display: flex;
        flex-wrap: wrap;
    }
    .sheet-body {
        flex: 0 0 100%;
        align-items: flex-start;
    }
    .sheet-header {
        flex: 0 0 100%;
        align-items: flex-start;
        input {
            font-size: 1rem;
        }
        h1 {
            flex: auto;
            margin: 0 0 0.25rem 1rem;
            input {
                flex: 0 0 100%;
                font-size: 3rem;
                height: 4rem;
                margin: 0.5rem 0 0;
                width: 100%;
                text-align: right;
                color: $l5r5e-red;
                background: transparent;
                border: 0 none;
                border-radius: 0;
                border-bottom: 1px dotted $l5r5e-black;
            }
            &:before {
                content: "";
                position: absolute;
                background: url("../assets/imgs/brushL5r.webp") no-repeat 0 0;
                background-size: contain;
                height: 225px;
                width: 100%;
                z-index: -1;
                left: -0.25rem;
            }
        }
        img {
            flex: 0 0 150px;
            height: 150px;
            margin-right: 0;
            object-fit: contain;
            background: $l5r5e-white;
            border: 1px solid $l5r5e-title;
            --notchSize: 0.5rem;
            clip-path: polygon(
                0% var(--notchSize),
                var(--notchSize) 0%,
                calc(100% - var(--notchSize)) 0%,
                100% var(--notchSize),
                100% calc(100% - var(--notchSize)),
                calc(100% - var(--notchSize)) 100%,
                var(--notchSize) 100%,
                0% calc(100% - var(--notchSize))
            );
        }
        .header-fields {
            h2 {
                font-family: $font-secondary;
                float: right;
                width: 50%;
                padding: 0 0.25rem;
                margin: 0;
                text-align: right;
                color: $l5r5e-black;
                border-bottom: $white-light;
                --notchSize: 0.5rem;
                clip-path: polygon(
                    0% var(--notchSize),
                    var(--notchSize) 0%,
                    calc(100%) 0%,
                    100% var(--notchSize),
                    100% calc(100% - var(--notchSize)),
                    calc(100% - var(--notchSize)) 100%,
                    var(--notchSize) 100%,
                    0% calc(100%)
                );
                &:before {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 100%;
                }
            }
        }
        .identity-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex: 0 0 calc(100% - 150px - 1.05rem);
            .identity-content {
                flex: 0 0 100%;
                display: flex;
                flex-wrap: wrap;
                margin: 0.5rem 0 0.5rem 1rem;
                li {
                    flex: 33%;
                    &:nth-child(1),
                    &:nth-child(2) {
                        flex: 50%;
                        margin: 0 0 0.5rem;
                    }
                }
            }
        }
        .rings {
            float: left;
            width: calc(50% - 0.25rem);
            padding: 0.25rem;
        }
        .social-content {
            flex: 0 0 100%;
            display: flex;
            padding: 0.25rem;
        }
        .attributes-wrapper {
            float: right;
            width: calc(50% - 0.25rem);
            padding: 0.5rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            background: $l5r5e-title;
            --notchSize: 0.5rem;
            clip-path: polygon(
                0% var(--notchSize),
                var(--notchSize) 0%,
                calc(100%) 0%,
                100% var(--notchSize),
                100% calc(100% - var(--notchSize)),
                calc(100% - var(--notchSize)) 100%,
                var(--notchSize) 100%,
                0% calc(100%)
            );
            label {
                display: flex;
                color: $l5r5e-label;
                text-transform: uppercase;
                font-size: 0.75rem;
                line-height: 2rem;
                margin: 0 0.5rem;
                strong {
                    flex: 1 0 calc(100% - 3rem);
                }
                input {
                    flex: 0 0 2rem;
                    &[disabled] {
                        flex: 0 0 2rem;
                        background: transparent;
                    }
                }
            }
            .endurance-content,
            .composure-content {
                flex: 1;
                label {
                    &:nth-child(2) {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        input {
                            flex: 1rem;
                            margin: 0 0 0.25rem;
                        }
                    }
                }
            }
            .focus-content,
            .vigilante-content {
                flex: 0 0 50%;
                label {
                    flex: 1;
                    input {
                        flex: 1rem;
                    }
                }
            }
            .void-content {
                display: flex;
                label {
                    flex: 1;
                    input {
                        flex: 1rem;
                    }
                }
            }
            li {
                position: relative;
                p {
                    display: none;
                    z-index: 2;
                    position: absolute;
                    background: rgba(0, 0, 0, 0.5);
                    color: #fff;
                    padding: 0.25rem;
                    --notchSize: 0.5rem;
                    clip-path: polygon(
                        0% 0,
                        0 0%,
                        100% 0%,
                        100% var(--notchSize),
                        100% calc(100% - var(--notchSize)),
                        calc(100% - var(--notchSize)) 100%,
                        var(--notchSize) 100%,
                        0% calc(100% - var(--notchSize))
                    );
                }
                &:hover {
                    p {
                        display: block;
                    }
                }
            }
        }
        .identity-wrapper label,
        .social-content label {
            display: flex;
            color: $l5r5e-label;
            text-transform: uppercase;
            font-size: 0.75rem;
            line-height: 2rem;
            input {
                flex: 1;
                margin: 0 1rem 0 0.5rem;
            }
        }
    }
    article {
        background: $l5r5e-white;
        padding: 0.5rem;
        flex-wrap: wrap;
        min-height: calc(100% - 2.25rem);
        &.tab[data-tab] {
            &.active {
                display: flex;
            }
        }
        .stance-content {
            label {
                display: block;
                width: 100%;
                line-height: 1.5rem;
                padding: 0.25rem;
                color: $white;
                &.earth {
                    background: $l5r5e-earth;
                }
                &.air {
                    background: $l5r5e-air;
                }
                &.water {
                    background: $l5r5e-water;
                }
                &.fire {
                    background: $l5r5e-fire;
                }
                &.void {
                    background: $l5r5e-void;
                }
                input {
                    float: right;
                    position: relative;
                    top: 0.3rem;
                    right: 0.25rem;
                }
            }
            .quick-rules {
                display: none;
                height: 0;
                margin: 0;
                padding: 0.25rem;
                font-size: 0.75rem;
                color: rgba(0, 0, 0, 0.75);
                overflow: hidden;
                border: 1px solid $l5r5e-title;
                transition: height 0.25s ease-in;
            }
            &:hover {
                .quick-rules {
                    display: block;
                    height: 6rem;
                    overflow-y: auto;
                    scrollbar-width: thin;
                }
            }
        }
    }
    .xp {
        flex: 0 0 5rem;
    }
    table {
        thead {
            th {
                &:first-child {
                    flex: 0 0 70%;
                }
            }
        }
        tbody {
            th {
                flex: 0 0 70%;
            }
        }
    }
    .feats-wrapper {
        fieldset {
            &:last-child {
                margin: 0 0 0 0.5rem;
            }
        }
    }
}
