&.twenty-questions-dialog {
    table {
        width: 100%;
    }
    table tr td {
        vertical-align: top;
    }
    .third {
        width: 230px;
    }
    .fifty {
        width: 49%;
    }
    .or {
        width: 100px;
    }
    .dropbox {
        min-height: 75px;
    }
    .errors {
        position: sticky;
        top: 0px;
        left: 0px;
        z-index: 999;
        display: block;
        width: 100%;
        background-color: $l5r5e-red;
        border: 1px solid $dark-red;
        border-radius: 1rem;
        text-align: center;
    }
}
