<tr class="flexrow row advancement">
    <td class="name" name="advancement.name"><img src="{{ advancement.img }}" title="{{advancement.name}}"> {{advancement.name}}{{#if advancement.data.bond_type}} ({{advancement.data.bond_type}}){{/if}}</td>
    <td class="xp" name="advancement.xp">{{advancement.data.xp_used}}</td>
    <td class="rank" name="advancement.rank">{{advancement.data.rank}}</td>
    {{#if editable}}
    <td class="actions">
        <ul>
            <li data-item-id="{{advancement._id}}" class="item-control item-edit" title="{{localize 'l5r5e.global.edit'}}"><i class="fas fa-edit"></i></li>
            <li data-item-id="{{advancement._id}}" class="item-control item-delete" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></li>
        </ul>
    </td>
    {{/if}}
</tr>