<fieldset class="initiative initiative-wrapper">
    <legend class="section-header">{{ localize 'l5r5e.conflict.initiative.title' }}</legend>
    <button class="initiative dice-picker" data-skill="sentiment" data-diff="1">{{ localize 'l5r5e.conflict.initiative.intrigue'}}</button>
    <button class="initiative dice-picker" data-skill="meditation" data-diff="1">{{ localize 'l5r5e.conflict.initiative.duel'}}</button>
    <button class="initiative dice-picker" data-skill="tactics" data-diff="1">{{ localize 'l5r5e.conflict.initiative.skirmish'}}</button>
    <button class="initiative dice-picker" data-skill="command" data-diff="1">{{ localize 'l5r5e.conflict.initiative.mass_battle'}}</button>
</fieldset>
<fieldset class="stances-content flexrow">
    <legend class="section-header">{{ localize 'l5r5e.conflict.stance' }}</legend>
    <ul class="item-list">
        {{#each data.rings as |ringValue ringId|}}
            {{> 'systems/l5r5e/templates/actors/character/stance.html' stance=../data.stance ringId=ringId }}
        {{/each}}
    </ul>
</fieldset>
{{> 'systems/l5r5e/templates/items/weapon/weapons.html' }}
{{> 'systems/l5r5e/templates/items/armor/armors.html' }}
