<fieldset class="xp">
    <legend>{{ localize 'l5r5e.experience'}}</legend>
    <label class="attribute-label">
        {{ localize 'l5r5e.advancements.total' }}
        <input class="centered-input select-on-focus" type="number" name="data.xp_total" value="{{ data.xp_total }}" data-dtype="Number" min="0" placeholder="0"/>
    </label>
    <label class="attribute-label">
        {{ localize 'l5r5e.advancements.spent' }}
        <input class="centered-input select-on-focus" type="number" name="data.xp_spent" value="{{ data.xp_spent }}" data-dtype="Number" min="0" placeholder="0" disabled/>
    </label>
    <label class="attribute-label">
        {{ localize 'l5r5e.advancements.saved' }}
        <input class="centered-input select-on-focus" type="number" name="data.xp_saved" value="{{ data.xp_saved }}" data-dtype="Number" min="0" placeholder="0" disabled/>
    </label>
</fieldset>
<fieldset class="advancement advancements-body">
    <legend class="tools">{{ localize 'l5r5e.advancements.title'}} <a data-item-type="advancement" class="advancement-control item-add" title="{{ localize 'l5r5e.global.add'}}"><i class="fas fa-plus"></i></a></legend>
    <nav class="advancements-tabs tabs" data-group="advancements">
        <a class="item advancements-tab" data-tab="advancement_rank_0">{{localize 'l5r5e.advancements.school_rank_0'}}</a>
        {{#each advancementsListByRank as |rankObject|}}
        {{#ifCond rank '>' 0}}
        <a class="item advancements-tab" data-tab="advancement_rank_{{rank}}" title="{{localize 'l5r5e.advancements.school_rank'}} {{rankObject.rank}}">{{rankObject.rank}}</a>
        {{/ifCond}}
        {{/each}}
    </nav>
    <table>
        <thead class="flex">
            <tr class="flexrow row">
                <th class="curriculum"></th>
                <th class="name">{{ localize 'l5r5e.name' }}</th>
                <th class="xp">{{ localize 'l5r5e.advancements.spent' }}</th>
                <th class="rank">{{ localize 'l5r5e.rank' }}</th>
                {{#if editable}}
                <th class="actions"></th>
                {{/if}}
            </tr>
        </thead>
        <tbody class="flex">
        {{#each advancementsListByRank as |rankObject|}}
            {{#each rankObject.list as |advancement advancementId|}}
                {{> 'systems/l5r5e/templates/actors/character/advancement.html' advancement=advancement rank=rankObject.rank editable=../../editable }}
            {{/each}}
            {{#ifCond rankObject.rank '>' 0}}
            <tr data-group="advancements" data-tab="advancement_rank_{{rankObject.rank}}" class="flexrow row tab">
                <th class="">
                    {{#ifCond ../data.identity.school_rank '<' 6}}
                    {{#ifCond (ifCond ../data.identity.school_rank '==' rankObject.rank) '&&' (ifCond rankObject.spent '>=' rankObject.goal)}}
                    <button type="button" name="validate-curriculum">
                        <i class='fas fa-check-square'></i> {{ localize 'l5r5e.advancements.curriculum_validate' }}
                    </button>
                    {{/ifCond}}
                    {{/ifCond}}
                </th>
                <th class="">
                    {{ localize 'l5r5e.advancements.total_xp_rank' }} :
                    {{ rankObject.spent }}
                    {{#if rankObject.goal}}/{{rankObject.goal}}{{/if}}
                </th>
            </tr>
            {{/ifCond}}
        {{/each}}
        </tbody>
    </table>
</fieldset>
