<ul class="identity-content">
    <li>
        <label class="attribute-label autocomplete">
            {{#ifCond data.data.template '==' 'pow'}}
                {{localize 'l5r5e.region'}}
            {{else}}
                {{localize 'l5r5e.clan'}}
            {{/ifCond}}
            <input type="text" name="data.identity.clan" value="{{data.data.identity.clan}}" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
    <li>
        <label class="attribute-label autocomplete">
            {{#ifCond data.data.template '==' 'pow'}}
                {{localize 'l5r5e.upbringing'}}
            {{else}}
                {{localize 'l5r5e.family'}}
            {{/ifCond}}
            <input type="text" name="data.identity.family" value="{{data.data.identity.family}}" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
    <li>
        <label class="attribute-label">
            {{localize 'l5r5e.rank'}}
            <input type="number" name="data.identity.school_rank" value="{{data.data.identity.school_rank}}" class="select-on-focus" data-dtype="Number" min="0" placeholder="1" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
    <li>
        <label class="attribute-label">
            {{localize 'l5r5e.school'}}
            <input type="text" name="data.identity.school" value="{{data.data.identity.school}}" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
    <li>
        <label class="attribute-label">
            {{localize 'l5r5e.roles'}}
            <input type="text" name="data.identity.roles" value="{{data.data.identity.roles}}" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
        </label>
    </li>
</ul>