<fieldset class="narrative-content">
    <legend class="text-block-header">{{ localize 'l5r5e.social.advantages' }}</legend>
    <ul class="item-list">
        {{#each actor.item as |item id|}}
            {{#ifCond item.type '==' 'advantage'}}
                {{> 'systems/l5r5e/templates/item/item-entry.html' item=item id=id }}
            {{/ifCond}}
        {{/each}}
    </ul>
</fieldset>
<fieldset class="narrative-content">
    <legend class="text-block-header">{{ localize 'l5r5e.social.disadvantages' }}</legend>
    <ul class="item-list">
        {{#each actor.item as |item id|}}
            {{#ifCond item.type '==' 'disadvantage'}}
                {{> 'systems/l5r5e/templates/item/item-entry.html' item=item id=id }}
            {{/ifCond}}
        {{/each}}
    </ul>
</fieldset>