<article class="tab infos active" data-group="primary" data-tab="infos">
    <fieldset>
        <legend class="text-block-header">{{localize 'l5r5e.sheets.description'}}</legend>
        {{#if editable}}
        <prose-mirror name="system.description" button="true" editable="true" toggled="false"
            value="{{data.system.description}}">{{{data.enrichedHtml.description}}}</prose-mirror>
        {{else}}
        {{{data.enrichedHtml.description}}}
        {{/if}}
    </fieldset>
    <label class="reference">
        {{localize 'l5r5e.sheets.source_reference.reference'}}
        <input type="text" name="system.source_reference.source" value="{{data.system.source_reference.source}}" list="source_books" />
        <datalist id="source_books">
            {{#each source_references as |source|}}
                <option>{{source}}</option>
            {{/each}}
        </datalist>
        {{localize 'l5r5e.sheets.source_reference.page_abbreviation'}}
        <input type="number" name="system.source_reference.page" value="{{data.system.source_reference.page}}" />
    </label>
</article>
