<article class="tab infos active" data-group="primary" data-tab="infos">
    <fieldset>
        <legend class="text-block-header">{{localize 'l5r5e.sheets.description'}}</legend>
        {{editor data.enrichedHtml.description target="system.description" button=true owner=owner editable=editable}}
    </fieldset>
    <label class="reference">
        {{localize 'l5r5e.sheets.book_reference'}}
        <input type="text" name="system.book_reference" value="{{data.system.book_reference}}" />
    </label>
</article>