<label class="value">
    {{ localize 'l5r5e.quantity' }}
    <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
</label>
<label class="value">
    {{ localize 'l5r5e.weight' }}
    <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
</label>
<label class="value">
    {{ localize 'l5r5e.rarity' }}
    <input type="text" name="data.rarity" value="{{data.rarity}}" data-dtype="Number"/>
</label>
<label class="value">
        {{ localize 'l5r5e.money.zeni' }}
    <input type="text" name="data.zeni" value="{{data.zeni}}" data-dtype="Number"/>
</label>