<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
        <div class="header-fields identity-wrapper">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            {{> 'systems/l5r5e/templates/sheets/actor/identity.html' }}
        </div>
        <div class="header-fields">
            {{> 'systems/l5r5e/templates/sheets/actor/social.html' }}
            <h2>{{ localize 'l5r5e.attributes.title' }}</h2>
            {{> 'systems/l5r5e/templates/sheets/actor/rings.html' }}
            {{> 'systems/l5r5e/templates/sheets/actor/attributes.html' }}
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="narrative">{{ localize 'l5r5e.narrative' }}</a>
        <a class="item" data-tab="skills">{{ localize 'l5r5e.skills.title' }}</a>
        <a class="item" data-tab="conflict">{{ localize 'l5r5e.conflict.title' }}</a>
        <a class="item" data-tab="inventory">{{ localize 'l5r5e.inventory' }}</a>
        <a class="item" data-tab="experience">{{ localize 'l5r5e.experience' }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Narrative Tab --}}
        <article class="tab narrative" data-group="primary" data-tab="narrative">
            {{> 'systems/l5r5e/templates/sheets/actor/narrative.html' }}
        </article>

        {{!-- Skills Tab --}}
        <article class="tab skills" data-group="primary" data-tab="skills">
            <ul class="skills-wrapper">
                {{#each data.skills as |category id|}}
                    {{> 'systems/l5r5e/templates/sheets/actor/category.html' category=category categoryId=id}}
                {{/each}}
            </ul>
            {{> 'systems/l5r5e/templates/sheets/actor/feats.html' }}
        </article>

        {{!-- Conflict Tab --}}
        <article class="tab conflict" data-group="primary" data-tab="conflict">
            {{> 'systems/l5r5e/templates/sheets/actor/conflict.html' }}
        </article>

        <article class="tab inventory" data-group="primary" data-tab="inventory">
            {{> 'systems/l5r5e/templates/item/items.html' }}
        </article>

        {{!-- Experience Tab --}}
        <article class="tab experience" data-group="primary" data-tab="experience">
            {{> 'systems/l5r5e/templates/sheets/actor/experience.html' }}
        </article>
    </section>
</form>