<section>
    <ul>
        {{!-- Ninjo/Giri --}}
        <li><b>{{localize 'l5r5e.social.ninjo'}}</b> : {{actorData.social.ninjo}}</li>
        <li><b>{{localize 'l5r5e.social.giri'}}</b> : {{actorData.social.giri}}</li>

        {{!-- Bushido Tenet --}}
        <li><b>{{localize 'l5r5e.social.bushido_tenets.paramount'}}</b> : {{actorData.social.bushido_tenets.paramount}}</li>
        <li><b>{{localize 'l5r5e.social.bushido_tenets.less_significant'}}</b> : {{actorData.social.bushido_tenets.less_significant}}</li>

        {{!-- Peculiarities --}}
        <li><b>{{localize 'l5r5e.social.npc.advantages'}}</b> : {{advantages}}</li>
        <li><b>{{localize 'l5r5e.social.npc.disadvantages'}}</b> : {{disadvantages}}</li>
    </ul>
</section>