<section>
    <ul>
        {{!-- warlord --}}
        <li><b>{{localize 'l5r5e.army.allies_backers'}}</b> : {{actorData.allies_backers}}</li>
        <li><b>{{localize 'l5r5e.army.purpose_mustering'}}</b> : {{actorData.purpose_mustering}}</li>

        {{!-- commander --}}
        <li><b>{{localize 'l5r5e.army.commander_abilities'}}</b> : {{actorData.commander_abilities}}</li>
        <li><b>{{localize 'l5r5e.army.army_abilities'}}</b> : {{actorData.army_abilities}}</li>
    </ul>
    <p>{{{actorData.description}}}</p>
</section>