<form class="{{cssClass}}" data-lang="{{localize 'I18N.Language'}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        <div class="header-fields identity-wrapper">
            <h1 class="charname"><input name="name" type="text" value="{{data.name}}" placeholder="Name"/></h1>
        </div>
        <div class="header-fields">
            <div class="warlord">
                <p>
                    {{localize 'l5r5e.army.warlord'}}
                    <input name="data.warlord" type="text" value="{{data.data.warlord}}" />
                </p>
                <p>
                    {{localize 'l5r5e.army.allies_backers'}}
                    <textarea type="text" name="data.allies_backers">{{data.data.allies_backers}}</textarea>
                </p>
                <p>
                    {{localize 'l5r5e.army.purpose_mustering'}}
                    <textarea type="text" name="data.purpose_mustering">{{data.data.purpose_mustering}}</textarea>
                </p>

                <div class="attributes-wrapper">
                    {{localize 'l5r5e.army.battle_readiness.title'}}
                    <p>
                        {{localize 'l5r5e.army.battle_readiness.strength'}}
                        <input name="data.battle_readiness.casualties_strength.max" type="text" value="{{data.data.battle_readiness.casualties_strength.max}}" />
                    </p>
                    <p>
                        {{localize 'l5r5e.army.battle_readiness.casualties'}}
                        <input name="data.battle_readiness.casualties_strength.value" type="text" value="{{data.data.battle_readiness.casualties_strength.value}}" />
                    </p>
                    <p>
                        {{localize 'l5r5e.army.battle_readiness.discipline'}}
                        <input name="data.battle_readiness.panic_discipline.max" type="text" value="{{data.data.battle_readiness.panic_discipline.max}}" />
                    </p>
                    <p>
                        {{localize 'l5r5e.army.battle_readiness.panic'}}
                        <input name="data.battle_readiness.panic_discipline.value" type="text" value="{{data.data.battle_readiness.panic_discipline.value}}" />
                    </p>
                </div>
            </div>
            <div class="commander">
                <p>
                    {{localize 'l5r5e.army.commander'}}
                    <input name="data.commander" type="text" value="{{data.data.commander}}" />
                </p>
                <p>
                    {{localize 'l5r5e.army.commander_abilities'}}
                    <textarea type="text" name="data.commander_abilities">{{data.data.commander_abilities}}</textarea>
                </p>
                <p>
                    {{localize 'l5r5e.army.army_abilities'}}
                    <textarea type="text" name="data.army_abilities">{{data.data.army_abilities}}</textarea>
                </p>

                <div class="attributes-wrapper">
                    {{localize 'l5r5e.army.commander_standing'}}
                    <p>
                        {{localize 'l5r5e.social.honor'}}
                        <input name="data.commander_standing.honor" type="text" value="{{data.data.commander_standing.honor}}" />
                    </p>
                    <p>
                        {{localize 'l5r5e.social.glory'}}
                        <input name="data.commander_standing.glory" type="text" value="{{data.data.commander_standing.glory}}" />
                    </p>
                    <p>
                        {{localize 'l5r5e.social.status'}}
                        <input name="data.commander_standing.status" type="text" value="{{data.data.commander_standing.status}}" />
                    </p>
                </div>
            </div>
        </div>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="cohort">{{localize 'l5r5e.army.cohort.title'}}</a>
            <a class="item" data-tab="fortification">{{localize 'l5r5e.army.fortification.title'}}</a>
            <a class="item" data-tab="others">{{localize 'l5r5e.notes'}}</a>
        </nav>

        {{!-- Cohort Tab --}}
        <article class="tab cohort" data-group="primary" data-tab="cohort">
            {{> 'systems/l5r5e/templates/actors/army/cohort.html'}}
        </article>

        {{!-- Fortification Tab --}}
        <article class="tab fortification" data-group="primary" data-tab="fortification">
            {{> 'systems/l5r5e/templates/actors/army/fortification.html'}}
        </article>

        {{!-- Others Tab --}}
        <article class="tab others" data-group="primary" data-tab="others">
            {{> 'systems/l5r5e/templates/actors/army/others.html'}}
        </article>
    </section>
</form>