<form class="l5r5e character-generator-dialog" autocomplete="off">
    <div class="content">
        <div class="form-group body">
            <label>
                {{localize 'l5r5e.clan'}}
                <select class="attribute-dtype" name="clan">
                    {{#select data.clan}}
                    {{#each clanList as |value|}}
                        <option value="{{value.id}}">{{value.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>

                {{localize 'l5r5e.gender.title'}}
                <select class="attribute-dtype" name="gender">
                    {{#select data.gender}}
                    {{#each genderList as |value|}}
                        <option value="{{value.id}}">{{value.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>

                {{localize 'l5r5e.char_generator.average_value'}} <input class="centered-input" type="number" name="avg_rings" value="{{data.avg_rings}}" data-dtype="Number" min="1" max="5" />
            </label>
            <label>
            {{localize 'l5r5e.char_generator.generate'}}:
            </label>
            <label>
                <input type="checkbox" name="generateName" {{checked data.generateName}} />
                {{localize 'l5r5e.name'}}
            </label>
            <label>
                <input type="checkbox" name="generateAttributes" {{checked data.generateAttributes}} />
                {{localize 'l5r5e.char_generator.attributes'}}
            </label>
            <label>
                <input type="checkbox" name="generateSocial" {{checked data.generateSocial}} />
                {{localize 'l5r5e.char_generator.social'}}
            </label>
            {{#if isNpc}}
            <label>
                <input type="checkbox" name="generateDemeanor" {{checked data.generateDemeanor}} />
                {{localize 'l5r5e.char_generator.demeanor'}}
            </label>
            {{/if}}
            <label>
                <input type="checkbox" name="generatePeculiarities" {{checked data.generatePeculiarities}} />
                {{localize 'l5r5e.char_generator.peculiarities'}}
            </label>
            <label>
                <input type="checkbox" name="generateItems" {{checked data.generateItems}} />
                {{localize 'l5r5e.char_generator.items'}}
            </label>
            <label>
                <input type="checkbox" name="generateTechniques" {{checked data.generateTechniques}} />
                {{localize 'l5r5e.techniques.title'}}
            </label>
            <label>
                <input type="checkbox" name="generateNarrative" {{checked data.generateNarrative}} />
                {{localize 'l5r5e.char_generator.narrative'}}
            </label>
        </div>
        <div class="form-group footer">
            <button name="generate" id="generate" type="submit">
                {{localize 'l5r5e.char_generator.generate'}} <i class='fas fa-arrow-circle-right'></i>
            </button>
        </div>
    </div>
</form>