<div class="{{cssClass}}" data-actor-id="{{actor.data._id}}" data-item-id="{{data._id}}">
    <header class="card-header">
        <h2 class="item-name"><img src="{{data.img}}" title="{{data.name}}" /> {{data.name}}</h2>
    </header>
    <section class="sheet-body">
        <ul>
            <li>
                <strong>{{localize 'l5r5e.weapons.sheathed'}}</strong> : {{localizeYesNo data.data.equipped}}
            </li>
            <li>
                <strong>{{localize 'l5r5e.weapons.readied'}}</strong> : {{localizeYesNo data.data.readied}}
            </li>
            {{!--item-value--}}
            <li>
                <strong>{{localize 'l5r5e.quantity'}} </strong> : {{data.data.quantity}}
            </li>
            <li>
                <strong>{{localize 'l5r5e.weight'}}</strong> : {{data.data.weight}}
            </li>
            <li>
                <strong>{{localize 'l5r5e.rarity'}}</strong> : {{data.data.rarity}}
            </li>
            <li>
                <strong>{{localize 'l5r5e.value'}}</strong> : {{data.data.zeni}}
            </li>
            <li>
                <strong>{{localize 'l5r5e.armors.physical'}}</strong> : {{data.data.armor.physical}}
            </li>
            <li>
                <strong>{{localize 'l5r5e.armors.supernatural'}}</strong> : {{data.data.armor.supernatural}}
            </li>
        </ul>
        {{!--properties--}}
        <p>
            <strong>{{localize 'l5r5e.properties'}}</strong> :
            {{#each data.data.properties as |property idx|}}{{#ifCond idx '>' 0}}, {{/ifCond}}{{property.name}}{{/each}}
        </p>
        {{!--item-infos--}}
        <p><strong>{{localize 'l5r5e.description'}}</strong> : {{{data.data.description}}}</p>
        <p><strong>{{localize 'l5r5e.book_reference'}}</strong> : {{data.data.book_reference}}</p>
    </section>
</div>
