<li class="item flexcol" data-item-id="{{item._id}}">
    <ul class="item-header item-control">
        <li class="item-img"><img src="{{item.img}}" title="{{item.name}}" width="32px" height="32px"/></li>
        <li class="item-name">{{ item.name }}</li>
        <li class="icon-stat-container">
            <i class="fas fa-tint" title="{{ localize 'l5r5e.armors.type' }} {{ localize 'l5r5e.armors.physical' }}"> {{item.data.armor.physical}}</i>
            <i class="fas fa-bolt" title="{{ localize 'l5r5e.armors.type' }} {{ localize 'l5r5e.armors.supernatural' }}"> {{item.data.armor.supernatural}}</i>
        </li>
        <li class="item-edit" title="{{localize 'l5r5e.global.edit'}}"><i class="fas fa-edit"></i></li>
        <li class="item-delete" title="{{localize 'l5r5e.global.delete'}}"><i class="fas fa-trash"></i></li>
    </ul>
    <ul class="item-properties">
        {{#each item.data.properties as |property id|}}
            <li>{{{ property.name }}}</li>
        {{/each}}
    </ul>
    <div class="item-description">{{{ item.data.description }}}</div>
</li>