<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">Description</a>
            <a class="item" data-tab="attributes">Attributes</a>
        </nav>
        {{!-- Description Tab --}}
        <article class="tab flexcol" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </article>
        {{!-- Attributes Tab --}}
        <article class="tab attributes" data-group="primary" data-tab="attributes">
            <label class="attribute">
                {{ localize 'l5r5e.xp.spent' }}
                <input type="text" name="data.xp_used" value="{{data.xp_used}}" data-dtype="Number" placeholder="0"/>
            </label>
            <label class="attribute">
                {{ localize 'l5r5e.rank' }}
                <input type="text" name="data.rank" value="{{data.rank}}"/>
            </label>
        </article>
    </section>
</form>