<ul class="social-content">
    <li>
        <label class="attribute-label centered-input">
            {{ localize 'l5r5e.social.honor' }}
            <input class="centered-input" type="text" name="data.social.honor" value="{{data.social.honor}}" placeholder="0"/>
        </label>
    </li>
    <li>
        <label class="attribute-label centered-input">
            {{ localize 'l5r5e.social.glory' }}
            <input class="centered-input" type="text" name="data.social.glory" value="{{data.social.glory}}" placeholder="0"/>
        </label>
    </li>
    <li>
        <label class="attribute-label centered-input">
            {{ localize 'l5r5e.social.status' }}
            <input class="centered-input" type="text" name="data.social.status" value="{{data.social.status}}" placeholder="0"/>
        </label>
    </li>
    <li>
        {{!-- Strength --}}
        <select class="attribute-dtype" name="data.rings_affinities.strength.ring">
            {{#select data.rings_affinities.strength.ring}}
                {{#each data.stances as |stance|}}
                    <option value="{{stance}}">{{localizeRing stance}}</option>
                {{/each}}
            {{/select}}
        </select>
        <input type="text" name="data.rings_affinities.strength.value" value="{{data.rings_affinities.strength.value}}" data-dtype="Number" placeholder="0"/>, 
        {{!-- Weakness --}}
        <select class="attribute-dtype" name="data.rings_affinities.weakness.ring">
            {{#select data.rings_affinities.weakness.ring}}
                {{#each data.stances as |stance|}}
                    <option value="{{stance}}">{{localizeRing stance}}</option>
                {{/each}}
            {{/select}}
        </select>
        <input type="text" name="data.rings_affinities.weakness.value" value="{{data.rings_affinities.weakness.value}}" data-dtype="Number" placeholder="0"/>
        {{!-- Attitude --}}
        <input type="text" name="data.attitude" value="{{data.attitude}}" data-dtype="String" placeholder=""/>
        <h2>{{ localize 'l5r5e.attributes.title' }}</h2>
    </li>
</ul>